{
  "presets": ["next/babel"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "types/": "./types",
        "components/": "./components",
        "redux/": "./redux",
        "config/": "./config",
        "firebase/api": "./firebase/api"
    }}]
  ]
}